<p>Шилжүүлэх: {{data.selectedCoin1}}</p>
<p>Хүлээн авах: {{data.selectedCoin2}}</p>
<form #addressForm="ngForm" (ngSubmit)="makeOrder(addressForm)" novalidate>
    <input name="receiveAddress" ngModel required #receiveAddress="ngModel">
    <input name="sendAddress" ngModel required #sendAddress="ngModel">
</form> 
    <p *ngIf="receiveAddress.value">Receiving Address: {{data.selectedCoin1}} from {{ receiveAddress.value }}</p>
    <p *ngIf="sendAddress.value">Sending Address: To {{data.selectedCoin2}} at {{ sendAddress.value }}</p>
    <button mat-raised-button class="convert-btn" (click)="makeOrder(addressForm)">Make Order</button>